{% extends "base.html" %}

{% block content %}
        <h1>Terms and Conditions</h1>
        <p>By using SaveYIFT, you agree to comply with and be bound by the following terms and conditions.</p>

        <h2>1. Acceptance of Terms</h2>
        <p>By accessing or using the website, you agree to follow these terms and conditions.</p>

        <h2>2. Use of Website</h2>
        <p>You agree to use the website for lawful purposes only.</p>

        <h2>3. Intellectual Property</h2>
        <p>All content on the website is protected by copyright laws.</p>

        <h2>4. Prohibited Activities</h2>
        <ul>
            <li>Downloading content in violation of copyright.</li>
            <li>Engaging in illegal activities.</li>
        </ul>

        <h2>5. Limitation of Liability</h2>
        <p>SaveYIFT is not liable for any indirect damages arising from the use of the website.</p>

        <h2>6. Changes to Terms</h2>
        <p>We may update these terms at any time. Changes will be posted on this page.</p>

        <h2>7. Governing Law</h2>
        <p>These terms will be governed by the laws of the jurisdiction in which SaveYIFT operates.</p>

        <h2>8. Contact Us</h2>
        <p>If you have questions, please contact us at <a href="mailto:support@saveyift.com">support@saveyift.com</a>.</p>
        {% endblock %}
